src/META-INF/wsdl/localhost_8080/ProyectoSOAPserver/FuncionesSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="FuncionesSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/ProyectoSOAPserver/FuncionesSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Potencia">
<part name="parameters" element="tns:Potencia"/>
</message>
<message name="PotenciaResponse">
<part name="parameters" element="tns:PotenciaResponse"/>
</message>
<message name="Diccionario">
<part name="parameters" element="tns:Diccionario"/>
</message>
<message name="DiccionarioResponse">
<part name="parameters" element="tns:DiccionarioResponse"/>
</message>
<message name="Eurodolar">
<part name="parameters" element="tns:Eurodolar"/>
</message>
<message name="EurodolarResponse">
<part name="parameters" element="tns:EurodolarResponse"/>
</message>
<message name="NumeroPrimo">
<part name="parameters" element="tns:NumeroPrimo"/>
</message>
<message name="NumeroPrimoResponse">
<part name="parameters" element="tns:NumeroPrimoResponse"/>
</message>
<portType name="FuncionesSOAP">
<operation name="hello">
<input wsam:Action="http://sv/FuncionesSOAP/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sv/FuncionesSOAP/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Potencia">
<input wsam:Action="http://sv/FuncionesSOAP/PotenciaRequest" message="tns:Potencia"/>
<output wsam:Action="http://sv/FuncionesSOAP/PotenciaResponse" message="tns:PotenciaResponse"/>
</operation>
<operation name="Diccionario">
<input wsam:Action="http://sv/FuncionesSOAP/DiccionarioRequest" message="tns:Diccionario"/>
<output wsam:Action="http://sv/FuncionesSOAP/DiccionarioResponse" message="tns:DiccionarioResponse"/>
</operation>
<operation name="Eurodolar">
<input wsam:Action="http://sv/FuncionesSOAP/EurodolarRequest" message="tns:Eurodolar"/>
<output wsam:Action="http://sv/FuncionesSOAP/EurodolarResponse" message="tns:EurodolarResponse"/>
</operation>
<operation name="NumeroPrimo">
<input wsam:Action="http://sv/FuncionesSOAP/NumeroPrimoRequest" message="tns:NumeroPrimo"/>
<output wsam:Action="http://sv/FuncionesSOAP/NumeroPrimoResponse" message="tns:NumeroPrimoResponse"/>
</operation>
</portType>
<binding name="FuncionesSOAPPortBinding" type="tns:FuncionesSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eurodolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumeroPrimo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FuncionesSOAP">
<port name="FuncionesSOAPPort" binding="tns:FuncionesSOAPPortBinding">
<soap:address location="http://localhost:8080/ProyectoSOAPserver/FuncionesSOAP"/>
</port>
</service>
</definitions>