xml-resources/web-service-references/FuncionesSoap/wsdl/localhost_8080/AppTest2/FuncionesSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sv/" name="FuncionesSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://sv/" schemaLocation="http://localhost:8080/AppTest2/FuncionesSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="diccionario">
<part name="parameters" element="tns:diccionario"/>
</message>
<message name="diccionarioResponse">
<part name="parameters" element="tns:diccionarioResponse"/>
</message>
<message name="holabb">
<part name="parameters" element="tns:holabb"/>
</message>
<message name="holabbResponse">
<part name="parameters" element="tns:holabbResponse"/>
</message>
<message name="Potencia">
<part name="parameters" element="tns:Potencia"/>
</message>
<message name="PotenciaResponse">
<part name="parameters" element="tns:PotenciaResponse"/>
</message>
<message name="Primo">
<part name="parameters" element="tns:Primo"/>
</message>
<message name="PrimoResponse">
<part name="parameters" element="tns:PrimoResponse"/>
</message>
<message name="Conversion_Euro_Dolar">
<part name="parameters" element="tns:Conversion_Euro_Dolar"/>
</message>
<message name="Conversion_Euro_DolarResponse">
<part name="parameters" element="tns:Conversion_Euro_DolarResponse"/>
</message>
<portType name="FuncionesSoap">
<operation name="diccionario">
<input wsam:Action="http://sv/FuncionesSoap/diccionarioRequest" message="tns:diccionario"/>
<output wsam:Action="http://sv/FuncionesSoap/diccionarioResponse" message="tns:diccionarioResponse"/>
</operation>
<operation name="holabb">
<input wsam:Action="http://sv/FuncionesSoap/holabbRequest" message="tns:holabb"/>
<output wsam:Action="http://sv/FuncionesSoap/holabbResponse" message="tns:holabbResponse"/>
</operation>
<operation name="Potencia">
<input wsam:Action="http://sv/FuncionesSoap/PotenciaRequest" message="tns:Potencia"/>
<output wsam:Action="http://sv/FuncionesSoap/PotenciaResponse" message="tns:PotenciaResponse"/>
</operation>
<operation name="Primo">
<input wsam:Action="http://sv/FuncionesSoap/PrimoRequest" message="tns:Primo"/>
<output wsam:Action="http://sv/FuncionesSoap/PrimoResponse" message="tns:PrimoResponse"/>
</operation>
<operation name="Conversion_Euro_Dolar">
<input wsam:Action="http://sv/FuncionesSoap/Conversion_Euro_DolarRequest" message="tns:Conversion_Euro_Dolar"/>
<output wsam:Action="http://sv/FuncionesSoap/Conversion_Euro_DolarResponse" message="tns:Conversion_Euro_DolarResponse"/>
</operation>
</portType>
<binding name="FuncionesSoapPortBinding" type="tns:FuncionesSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="diccionario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="holabb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Primo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Conversion_Euro_Dolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FuncionesSoap">
<port name="FuncionesSoapPort" binding="tns:FuncionesSoapPortBinding">
<soap:address location="http://localhost:8080/AppTest2/FuncionesSoap"/>
</port>
</service>
</definitions>